<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7jDVLrM_45zFm7yWXhfS7VokbU9NyZuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097787238772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.moniebill.uccQuizPortal</string>
	<key>PROJECT_ID</key>
	<string>ucc-quiz-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>ucc-quiz-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097787238772:ios:9eea0ed64040ea6c83a421</string>
</dict>
</plist>